# Step 1 -  Data Pre-processing Step

In [1]:
# Data Pre-processing step

# Importing Primary Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Data
data = pd.read_csv('suv_data.csv')

# Viewing Data
print(data.shape)
data.head()

(400, 5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [2]:
# Cleaning Unnecessary Data

data = data.drop(['User ID', 'Gender'], axis=1)

data = data.dropna(axis=0)

# Viewing Data
print(data.shape)
data.head()

(400, 3)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
# Labels and Features Selection

X = data[['Age', 'EstimatedSalary']].values
y = data[['Purchased']].values

In [4]:
# Splitting the dataset into training and test set

from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.15)

In [5]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
X_train= st_x.fit_transform(X_train)    
X_test= st_x.transform(X_test)

# Step 2 - Fitting Logistic Regression to The Training Set

In [6]:
# Fitting Logistic Regression to the training set

from sklearn.linear_model import LogisticRegression
classifier= LogisticRegression(random_state=0)
classifier.fit(X_train, y_train)

c:\users\admin\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0)

# Step 3 - Predicting The Test Set Result

In [7]:
# Predicting the test set result

y_pred= classifier.predict(X_test)

# Step 4 - Test accuracy of The Result

In [8]:
from sklearn.metrics import accuracy_score
scores = classifier.score(X_test, y_test)

pred = classifier.predict(X_test)
accuracy_score(y_test, pred)

0.85